<div style="margin: 20px;">
  <h1>Mensaje del Cliente (Formulario Reactivo)</h1>

  <div class="col-sm-4">

 

  <form [formGroup]="formContacto" (ngSubmit)="onSubmit()">
    <p>
      Nombre: <input type="text" class="form-control" formControlName="nombre" />
      @if(enviado && formContacto.get('nombre')?.errors?.['required']){
        <span style="color: red;">Este campo es obligatorio</span>
      }
      @if(enviado && formContacto.get('nombre')?.errors?.['minlength']){
        <span style="color: red;">El nombre debe tener al menos 10 caracteres</span>
      }
    </p>
    <p>
      E-mail: <input type="text" class="form-control" formControlName="email" />
      @if(enviado && formContacto.get('email')?.errors?.['required']){
        <span style="color: red;">Este campo es obligatorio</span>
      }
      @if(enviado && formContacto.get('email')?.errors?.['email']){
        <span style="color: red;">El correo proporcionado no es valido</span>
      }
      
    </p>
    <p>
      ¿Es cliente registrado?:
      <input type="radio" formControlName="status" value="Si" /> Si
      <input type="radio" formControlName="status" value="No" /> No
      @if(enviado && formContacto.get('status')?.errors?.['required']){
        <span style="color: red;">Este campo es obligatorio</span>
      }
    </p>
    <p>
      Municipio:
      <select class="form-control" formControlName="municipio">
        <option value="Amealco">Amealco</option>
        <option value="San Juan del Río">San Juan del Río</option>
        <option value="Tequisquiapan">Tequisquiapan</option>
      </select>

      @if(enviado && formContacto.get('municipio')?.errors?.['required']){
        <span style="color: red;">Este campo es obligatorio</span>
      }
    </p>
    <p>
      ¿Cuál es su opinión, queja o sugerencia? <br />
      <textarea class="form-control"  rows="10"  cols="70" formControlName="mensaje"></textarea>
      @if(enviado && formContacto.get('mensaje')?.errors?.['required']){
        <span style="color: red;">Este campo es obligatorio</span>
      }
      @if(enviado && formContacto.get('mensaje')?.errors?.['maxlength']){
        <span style="color: red;">Solo se perminten 500 caracteres</span>
      }
    </p>
    <p>
      <input type="checkbox"  class="form-control" formControlName="autorizacion" />
      ¿Autoriza compartir sus datos personales?
    </p>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

  <p></p>

  <div>
    @if (nombreCliente != '' && emailCliente != '' && mensajeCliente != '' && statusCliente != '' &&municipioCliente != '') {
      Datos enviados: <br />
      Nombre: {{nombreCliente}} <br>
      E-Mail: {{emailCliente}} <br>
      Cliente registrado: {{statusCliente}} <br>
      Municipio: {{municipioCliente}} <br>
      @if (autorizacionCliente) {
        El cliente autoriza compartir sus datos personales <br>
      } @else {
        El cliente <strong>NO AUTORIZA</strong> compartir sus datos personales <br>
      }
      Mensaje: {{mensajeCliente}}
    }
  </div>
</div>

<router-outlet></router-outlet>
